/*
 * リセットスタイル
 */

/* --------------------------------------------------
 * Global
 * -------------------------------------------------- */

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------
 * General
 * -------------------------------------------------- */

body {
  font-size: 62.5%;
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bolder;
}

ol,
ul {
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// セルとセルの余白を無くしている
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------------------------------------------
 * Forms
 * -------------------------------------------------- */
button,
input,
select,
textarea {
  appearance: none;
  background-color: transparent;
  border: 0;
  font: inherit;
  outline: none;
  padding: 0;
}

button {
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}

textarea {
  resize: none;
}
